@import "styles/variables";

.sidebar{
	@apply bg-white fixed left-0 w-full h-full p-8;
	z-index: 30;
	opacity: 0;
	transform: translateX(-100%);
	transition: $general-transition;
	&.active{
		opacity: 1;
		transform: translateX(0);
	}
	@media (min-width: $md) {
		@apply block relative pl-0;
		transform: unset;
		opacity: 1;
		width: unset;
		min-width: 25rem;
		max-width: 25rem;
	}
}
.btn{
	@apply fixed bottom-8 bg-primary text-white px-10 font-bold flex justify-center items-center cursor-pointer;
	font-size: 1.3rem;
	height: 3.5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 31;
	&:hover{
		background: darken($primary, 10%);
	}
	@media (min-width: $md) {
		@apply hidden;
	}
}